<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
<style>
	margin-left : auto;
	margin-right : auto;
</style>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>

<body style="text-align: center">
	<form method="post" th:action="@{/login}">
		<table style="text-align: center">
			<tr>
			<th style="text-align:center">ユーザ名</th>
			</tr>
			<tr>
			<th style="text-align:center"><input type="text" id="name" name="name"/></th>
			</tr>
			<tr>
			<th style="text-align:center">パスワード</th>
			</tr>
			<tr>
			<th style="text-align:center"><input type="password" id="pass" name="pass"/></th>
			</tr>
		</table>
		<button type="submit">ログイン</button>
	</form>
</body>

</html>